# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Firebase service account key
serviceAccountKey.json

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.log

# Cloud Run build artifacts
.cache/
.python-version 